body{
  background-color: #b2aba9;
}
.container{
  background-color: #f2f2f2;
  justify-content: center;
  width: 50%;
  margin-left: 26%;
  margin-top: 5%;
  text-align: center;
}
input[type=text], select {
  width: 80;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  }
 input[type=password],select {
  width: 88%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
button{
  width: 90px;
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  margin: 8px 0;
  border-radius: 4px;
  cursor: pointer;
  }
  button:hover, .button:focus, .button:active {
background-color: #4CAF50;
box-shadow: 0 0 20px rbg (0,0,0.5);
-webkit-transform: scale(1.1);
transform: scale(1.1);
 }
 .header{
  width: 95;
  background-color: rbg(243,240,243);
  margin-left: 25%;
  width:50%;
  padding: 20px 30px;
  margin-top: 5%;
 }